---
title: Payment World
---
extends layouts/_layout
block content
  .container
    header.main-header.text-center
      a.logo(href='#')
        img(src="img/logo.png", alt="payment world")
    nav.main-nav.text-center
      .main-nav__left
        a(href="/").btn
          i.glyphicon.glyphicon-chevron-left
      .main-nav__step
        a(href="/").btn.btn--active Business Information
        i.main-nav__step-icon.glyphicon.glyphicon-chevron-right
      .main-nav__step
        a(href="index2.php").btn.btn--active Merchant Information
        i.main-nav__step-icon.glyphicon.glyphicon-chevron-right
      .main-nav__step
        a(href="index3.php").main-nav__step.btn Ownership Information
      .main-nav__right
        a(href="index3.php").btn
          i.glyphicon.glyphicon-chevron-right
    .main-form.index2
      form(method="post").main-form__first
        .form
          .row
            label.col-xs-12.col-sm-4 Registered Company Name:
            .col-xs-12.col-sm-8
              input.form-control(type="text", name="company-name")
        .form
          .row
            label.col-xs-12.col-sm-4 Type of Business:
            .col-xs-12.col-sm-8.form-typeof-business
              label.checkbox-label
                input.checkbox-inline(type="checkbox" name="sole-proprietor")
                span.icon-wrap
                  i.glyphicon.glyphicon-ok
                span.checkbox-label__text Sole Proprietor
              label.checkbox-label
                input.checkbox-inline(type="checkbox" name="lim-liability")
                span.icon-wrap
                  i.glyphicon.glyphicon-ok
                span.checkbox-label__text Limited Liability Comp.
              label.checkbox-label
                input.checkbox-inline(type="checkbox" name="pub-lim-comp")
                span.icon-wrap
                  i.glyphicon.glyphicon-ok
                span.checkbox-label__text Public Limited Comp.
              label.checkbox-label
                input.checkbox-inline(type="checkbox" name="priv-corp")
                span.icon-wrap
                  i.glyphicon.glyphicon-ok
                span.checkbox-label__text Private Corporation
          .row
            .col-xs-12.col-sm-4
            .col-xs-12.col-sm-8
              .form-inline.form-typeof-business
                label.checkbox-label
                  input.checkbox-inline(type="checkbox" name="other")
                  span.icon-wrap
                    i.glyphicon.glyphicon-ok
                  span.checkbox-label__text Other
                .form-group
                  input.form-control(type="text" name="other")
        .form
          .row
            label.col-xs-12.col-sm-4 Business Address:
            .col-xs-12.col-sm-8
              .form-inline.form-addresses
                .form-group
                  input.form-control(type="text", name="business-address" placeholder="Address")
                .form-group
                  input.form-control(type="text", name="business-city" placeholder="City")
                .form-group
                  input.form-control(type="text", name="business-zip" placeholder="ZIP")
                .form-group
                  select.select-country.form-control(name="business-country")
                    option(value="") Select Country
                    option(value="Germany") Germany
                    option(value="Italy") Italy
                    option(value="Spain") Spain
        .form
          .row
            label.col-xs-12.col-sm-4 Billing Address:
            .col-xs-12.col-sm-8
              .form-inline.form-addresses
                .form-group
                  input.form-control(type="text", name="billing-address" placeholder="Address")
                .form-group
                  input.form-control(type="text", name="billing-city" placeholder="City")
                .form-group
                  input.form-control(type="text", name="billing-zip" placeholder="ZIP")
                .form-group
                  select.select-country.form-control(name="billing-country")
                    option(value="") Select Country
                    option(value="Germany") Germany
                    option(value="Italy") Italy
                    option(value="Spain") Spain
        .form
          .row
            label.col-xs-12.col-sm-4 Company Phone Number:
            .col-xs-12.col-sm-8
              .form-inline.form-company
                .form-group
                  input.form-control(type="tel", name="company-phone")
                .form-group
                  label(for="company-fax") FAX:
                  input#company-fax.form-control(type="text", name="company-fax")
                .form-group
                  label(for="company-vat") VAT/ TAX ID:
                  input#company-vat.form-control(type="text", name="company-vat")
        .form.js-form-director
          .row
            label.col-xs-12.col-sm-4 Director(s):
            .col-xs-12.col-sm-8
              .form-inline.form-director
                .form-group
                  input.form-control(type="text", name="directors-name" placeholder="Name")
                .form-group.form-group-title
                  input.form-control(type="text", name="directors-title" placeholder="Title/Responsibility")
                .form-group
                  input.form-control(type="tel", name="directors-phone" placeholder="Phone Number")
                .form-group
                  input.form-control(type="email", name="directors-email" placeholder="Email Address")
                button.btn.btn--orange(type="button")
                  span
                    i.glyphicon.glyphicon-plus
                  | Add Director
        .form
          .row
            label.col-xs-12.col-sm-4 URL Company Website::
            .col-xs-12.col-sm-8
              input.form-control(type="url", name="company-website")
        .form
          .row
            label.col-xs-12.col-sm-4 Main Contact Name:
            .col-xs-12.col-sm-8
              .form-inline.form-main
                .form-group
                  input.form-control(type="text", name="main-name" placeholder="Name")
                .form-group.form-group-title
                  input.form-control(type="text", name="main-title" placeholder="Title/Responsibility")
                .form-group
                  input.form-control(type="tel", name="main-phone" placeholder="Phone Number")
                .form-group
                  input.form-control(type="email", name="main-email" placeholder="Email Address")

        .text-center
          button.btn.btn--big NEXT STEP
